@font-face {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/D-DIN/D-DIN.ttf') format('truetype');
}

@font-face {
  font-family: 'D-DIN';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/D-DIN/D-DIN-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/D-DIN/D-DIN-Bold.ttf') format('truetype');
}
